body{
    background-image: url(./grey\ background.jpg);
}
h1{
    text-align: center;
    color: blue;
}
marquee{
    font-size: large;
    font-weight: bold;
    color: green;
}
h3{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    
}
#t1{
    background-color: rgb(132, 132, 255);
    margin-left: 499px;
    font-weight: bold;
    display: inline;
}
#t2{
    background-color: antiquewhite;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
}
#t3{
    background-color: burlywood;
    font-weight: bold;
    display: inline;
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 55px;
  }
  td, th{
    border: 1px solid #000;
    padding: 10px;
    width: 49px;
    height: 40px;
    text-align: center;
  }
  th{
    height: 55px;
  }